body{
    background-color:#F7EFE5;
    padding-top:50px;
}

h1 {
    text-align: center;
    color:#FF5A3C;
    font-family: "Momo Trust Display";
}

.LoginPage {
    background: linear-gradient(rgb(255,255,255), rgb(235, 186, 114));
    margin:auto;
    width:500px;
    height: 400px;
    border-radius: 20px;
    top:100px;
    position:relative;
    border:solid black;
}

.DivTop {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding-top: 50px;
    font-family: "Momo Trust Display";
    color: rgb(94, 79, 66);
}

.Name {
    position: relative;
    top: 70px;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 900;
    color:rgb(94, 79, 66);
}

.Ps{
    position: relative;
    top: 80px;
    padding-left: 85px;
    font-size: 20px;
    color:rgb(94, 79, 66);
    font-weight: 900;
}

.submit{
    position:relative;
    top:105px;
    left:190px;
    background-color:chocolate;
    font-size:20px;
    border: solid 2px chocolate;
    padding:10px;
    border-radius:10px;
    padding-left:20px;
    padding-right:20px;
}

.choice{
    position: relative;
    top: 110px;
    padding-left: 175px;
    font-size: 20px;
    color:rgb(94, 79, 66);
    font-weight: 900;
}

#facebook{
    position: relative;
    top: 110px;
    padding-left: 175px;
    font-size: 20px;
    color:rgb(94, 79, 66);
    font-weight: 900;
}

#github{
    position: relative;
    top: 110px;
    padding-left: 15px;
    font-size: 20px;
    color:rgb(94, 79, 66);
    font-weight: 900;
}

#X{
    position: relative;
    top: 110px;
    padding-left: 15px;
    font-size: 20px;
    color:rgb(94, 79, 66);
    font-weight: 900;
}

#popup {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 200px;
    border:black solid 2px;
    border-radius: 20px;
    z-index:2;
    font-size:20px;
    padding:20px;

}

#main {
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:200px;
    position: relative;
    visibility: hidden;
}

.open-popup {
    visibility: visible;
}

#button{
    border:2px beige solid;
    background-color: beige;
    border-radius: 10px;
    text-decoration: none;
    padding:5px;
}